<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<div layout:fragment="content">

    <table class="table table-striped">
        <thead>
        <tr>
            <th>은행</th>
            <th>계좌명</th>
            <th>잔액</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="account : ${accounts}">
            <td th:text="${account.bank.name}"></td>
            <td th:text="${account.name}"></td>
            <td th:text="${account.balance}"></td>
            <td>
                <a th:href="@{'/transaction/new/' + ${account.accountCode}}"
                   class="btn btn-primary">송금</a>
            </td>
        </tr>

        </tbody>
    </table>


</div>

</html>